<% layout('../layouts/list') -%>
<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="page-title-box">
                <div class="page-title-left">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/restaurants">Restaurants Manager</a></li>
                        <li class="breadcrumb-item active"><a href="javascript: void(0);">Duplicate Restaurant List</a></li>
                    </ol>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Duplicate Resturant List </h4>
           
        </div>
    </div>
   
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               
                <table class="table nowrap" id="duplicaterestaurant-datatable">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Image</th>
                        <th>Restaurant Name</th>
                        <th>Duplicate Of</th>
                        <th>Duplicate Case</th>
                        <th>Contact</th>
                        <th>Action</th>
                    </thead>
                    <tbody></tbody>
                </table>
              </div>
        </div>
    </div>
</div>