<!-- Sidebar -->
<nav class="sidebar" data-trigger="scrollbar">
    <!-- Sidebar Header -->
    <div class="sidebar-header d-none d-lg-block">
       <!-- Sidebar Toggle Pin Button -->
       <div class="sidebar-toogle-pin">
          <i class="icofont-tack-pin"></i>
       </div>
       <!-- End Sidebar Toggle Pin Button -->
    </div>
    <!-- End Sidebar Header -->

    <!-- Sidebar Body -->
    <div class="sidebar-body">
       <!-- Nav -->
       <ul class="nav">
          <!-- <li class="nav-category">Main</li> -->
          <li class="active">
             <a href="/">
                <i class="icofont-home"></i>
                <span class="link-title">Dashboard</span>
             </a>
          </li>
          <li>
             <a href="javascript:void(0);">
                <i class="icofont-users"></i>
                <span class="link-title">Users Manager</span>
             </a>

             <!-- Sub Menu -->
             <ul class="nav sub-menu">
                <li><a href="/users">Users</a></li>
                <li><a href="/users/add">Add User</a></li>
             </ul>
             <!-- End Sub Menu -->
          </li>
          <li>
            <a href="javascript:void(0);">
               <i class="icofont-restaurant"></i>
               <span class="link-title">Restaurants Manager</span>
            </a>

            <!-- Sub Menu -->
            <ul class="nav sub-menu">
               <li><a href="/restaurants">Restaurants</a></li>
               <li><a href="/restaurants/add">Add Restaurant</a></li>
               <li><a href="/restaurants/duplicate-list-page">Duplicate Restaurant</a></li>
            </ul>
            <!-- End Sub Menu -->
         </li>
          <li>
            <a href="javascript:void(0);">
               <i class="icofont-match-review"></i>
               <span class="link-title">Reviews Manager</span>
            </a>

            <!-- Sub Menu -->
            <ul class="nav sub-menu">
               <li><a href="/ratings">Reviews</a></li>
               <!-- <li><a href="/resturantratinglist">Reviews</a></li> -->
            </ul>
            <!-- End Sub Menu -->
         </li>
         <li>
            <a href="javascript:void(0);">
                <i class="icofont-sub-listing"></i>
                <span class="link-title">Category Manager</span>
            </a>
            <ul class="nav sub-menu">
                <li><a href="/categories">Categories</a></li>
                <li><a href="/categories/add">Add Category</a></li>
            </ul>
        </li>
        <li class="active">
            <a href="/settings">
               <i class="icofont-ui-settings"></i>
               <span class="link-title">App Version</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
               <i class="icofont-sub-listing"></i>
               <span class="link-title">Static Pages</span>
            </a>
            <ul class="nav sub-menu">
               <li><a href="/users/privacy_policy">Privacy Policy</a></li>
               <li><a href="/users/terms_conditions">Terms and Conditions</a></li>
            </ul>
        </li>
        <li><a href="/users/broadcast"><i class="icofont-user-suited"></i><span class="link-title">BroadCast Centre </span></a></li>  
        <li><a href="/profile"><i class="icofont-user-suited"></i><span class="link-title"> My Profile </span></a></li>
        <li><a href="/change-password"><i class="icofont-eye"></i><span class="link-title"> Change Password </span></a></li>
        <li><a href="/auth/log-out"><i class="icofont-logout"></i><span class="link-title"> Logout </span></a></li>
       </ul>
       <!-- End Nav -->
    </div>
    <!-- End Sidebar Body -->
 </nav>
 <!-- End Sidebar -->