<% layout('layouts/notAuthorized') -%>
<div class="text-center w-75 m-auto">
    <h4 class="mb-5 font-20">Forgot Password</h4>
    <a>
        <span><img src="<%= siteUrl %>/logo.png" alt="<%= siteTitle %>" style="height: 80px;  "></span>
    </a>
    <p class="text-muted mb-4 mt-3" style="color: #d2b876  !important;">Enter your email address and we'll send you an email with instructions to reset your password.</p>
</div>
<form id="forgotForm" method="post">
    <!-- Form Group -->
    <div class="form-group mb-20">
        <label for="email" class="mb-2 font-14 bold black">Email Address</label>
        <input class="form-control theme-input-style" type="email" name="email" required="" placeholder="Email" autocomplete="off">
        <div class="text-danger email"></div>
    </div>
    <!-- End Form Group -->
    


    <!-- <div class="mb-30">
        <a href="#" class="light-btn mr-3 mb-20">Log In With Facebook</a>
        <a href="#" class="light-btn style--two mb-20">Log In With Gmail</a>
    </div> -->

    <div class="d-flex align-items-center">
        <button id="submitForgotForm" class="btn long mr-20" type="submit"> Reset Password</button>
        <a class="btn long mr-20 ml-1" href="/auth/log-in">Login</a>
    </div>
</form>

<script>
    $(document).ready(function () {
        const ADMIN_FORGOT_PASSWORD_FORM = <%- JSON.stringify(DM('ADMIN_FORGOT_PASSWORD_FORM')) %>;
        $("#forgotForm").validate({
            errorPlacement: function (error, element) {
                const name = $(element).attr("name");
                error.appendTo($("." + name));
            },
            submitHandler: function (form) {
                $('#submitForgotForm').attr('disabled', 'disabled');
                form.submit();
            },
            rules: {
                email: {
                    required: true,
                    minlength: 3,
                    maxlength: 80,
                    pattern: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                }
            },
            messages: ADMIN_FORGOT_PASSWORD_FORM
        });
    })
</script>