<% layout('layouts/notAuthorized') -%>
<div class="text-center w-75 m-auto">
    <a>
        <span><img src="<%= siteUrl %>/accessory.png" alt="<%= siteTitle %>" style="height: 80px; width: 80px"></span>
    </a>
    <p class="text-muted mb-4 mt-3"></p>
</div>
<form id="passwordUpdateForm" method="post">
    <div class="form-group">
        <label class="label">OTP<span style="color: red !important;">*</span></label>
        <input type="number" minlength="4" maxlength="4" class="form-control" id="confPassword" placeholder="OTP"
               name="otp" required autocomplete="off">
        <div class="text-danger otp"></div>
    </div>
    <div class="form-group">
        <label class="label">Password<span style="color: red !important;">*</span></label>
        <input type="password" minlength="5" class="form-control" id="password" placeholder="Password" name="newPassword"
               required autocomplete="off">
        <div class="text-danger newPassword"></div>
    </div>

    <div class="form-group mb-0 text-center">
        <button type="submit" id="change-password-submit" class="btn btn-primary submit-btn btn-block" 
        style=""
    >Submit</button>
    </div>

</form>

<script>
    $(document).ready(function () {
        const ADMIN_RESET_PASSWORD_FORM = <%- JSON.stringify(DM('ADMIN_RESET_PASSWORD_FORM')) %>;
        $("#passwordUpdateForm").validate({
            errorPlacement: function (error, element) {
                const name = $(element).attr("name");
                error.appendTo($("." + name));
            },
            submitHandler: function (form) {
                $('#change-password-submit').attr('disabled', 'disabled');
                form.submit();
            },
            rules: {
                otp: {
                    required: true,
                    minlength: 4,
                    maxlength: 4,
                },
                newPassword: {
                    required: true,
                    pattern: /^(?=(.*[a-zA-Z])+)(?=(.*[0-9])+).{8,}$/
                }
            },
            messages: ADMIN_RESET_PASSWORD_FORM
        });
    })
</script>