<% layout('../layouts/admin') -%>
<div class="row ">
    <div class="col-md-12">
        <div class="card bg-transparent">
            <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row bg-white mb-30">
                <div class="contact-header-left media-body d-flex align-items-center mr-4 col-6">
                    <!-- View Practices -->
                    <div class="page-title-box">
                        <div class="page-title-left">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="/categories"> Categories</a></li>
                                <li class="breadcrumb-item active"><a href="javascript: void(0);">Detail</a></li>
                            </ol>
                        </div>
                    </div>
                    <!-- End View Practices -->
                </div>
            </div>
         </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="page-title mb-30">View Category Detail</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Name: </label> <%= category.name %>
                        </div>
                    </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-3">
                                <label>Created date: </label> <%= showDate(category.created) %>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    

    
    