<% layout('../layouts/list') -%>
<div class="row ">
    <div class="col-md-12">
        <div class="card bg-transparent">
            <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row bg-white mb-30">
                <div class="contact-header-left media-body d-flex align-items-center mr-4 col-6">
                    <!-- Add New Contact Btn -->
                    <div class="add-new-contact mr-20">
                        <div class="float-left">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="/ratings">Rating Manager</a></li>
                                <li class="breadcrumb-item active"><a href="/ratings">List</a></li>
                            </ol>
                        </div>
                    </div>
                    <!-- End Add New Contact Btn -->
                    
                    
                    <!-- End Search Form -->
                </div>
                </div>
            </div>
         </div>
        
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table nowrap" id="restaurantrating-datatable">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Restaurant Name</th>
                        <th>Averge Star</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="row tableLoader">
                    <div class="col-sm-12 text-center">
                        <div class="spinner-border avatar-md text-primary m-2" role="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>